<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.labaproject.database.mapper.TransportationMapper">

    <resultMap id="TransportationResultMap" type="org.labaproject.database.model.Transportation">
        <id property="transportId" column="transport_id" />
        <result property="transportType" column="transport_type" />
        <result property="transportName" column="transport_name" />
        <result property="startCityId" column="start_city_id" />
        <result property="endCityId" column="end_city_id" />
    </resultMap>

    <select id="getTransportationById" parameterType="int" resultMap="TransportationResultMap">
        SELECT * FROM Transportation WHERE transport_id = #{transportId}
    </select>

    <select id="getAllTransportation" resultMap="TransportationResultMap">
        SELECT * FROM Transportation
    </select>

    <insert id="addTransportation" parameterType="org.labaproject.database.model.Transportation">
        INSERT INTO Transportation (transport_type, transport_name, start_city_id, end_city_id)
        VALUES (#{transportType}, #{transportName}, #{startCityId}, #{endCityId})
    </insert>

    <update id="updateTransportation" parameterType="org.labaproject.database.model.Transportation">
        UPDATE Transportation
        SET transport_type = #{transportType}, transport_name = #{transportName}, start_city_id = #{startCityId},end_city_id = #{endCityId}
        WHERE transport_id = #{transportId}
    </update>

    <delete id="deleteTransportation" parameterType="int">
        DELETE FROM Transportation WHERE transport_id = #{transportId}
    </delete>

</mapper>
